@font-face {
    font-family: 'Plaguard';
    src: local("Plaguard"), url(./assets/Plaguard-ZVnjx.otf) format("truetype");
}

.boardDiv{
    min-height: calc(100vh - 60px - 50px);
    width: 100%;
    display: flex;
    justify-content:space-around;
    align-items: center;
    flex-wrap: wrap;
}

.squaresDiv{
    border: solid;
    border-color: black;
    border-width: 2px;
    margin: 7px;
}

.square{
    border: solid;
    border-color: rgba(128, 128, 128, 0.1);
    border-width: 1px;
    height: 3vh;
    width: 3vh;
    margin: 0;
    padding: 0;
}

.infoDiv{
    width: 25%;
    font-size: clamp(18px, 1.6vw, 24px);
    font-family: 'Plaguard';
    display: flex;
    flex-direction: column;
    align-items: left;
    padding-left: 5%;
}

.gameResult{
    width: 25%;
    font-size: 32px;
    font-family: 'Plaguard';
    color: brown;
    text-align: center;
}