@font-face {
    font-family: 'Plaguard';
    src: local("Plaguard"), url(./fonts/Plaguard-ZVnjx.otf) format("truetype");
}

body{
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: rgba(23, 168, 59, 0.301);
}

.center{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: solid;
    border-color: black;
    border-width:2px;
    cursor: none;
}
.square{
    border: solid;
    border-color: rgba(128, 128, 128, 0.1);
    border-width:1px;
    height: 3vh;
    width: 3vh;
    margin: 0;
    padding: 0;
}

.info{
    position: fixed;
    top: 50%;
    transform: translate(3vw, -50%);
    font-size: 24px;
    font-family: 'Plaguard';
}

.gameResult{
    position: fixed;
    top: 50%;
    transform: translate(80vw, -100%);
    font-size: 32px;
    font-family: 'Plaguard';
    color: brown;
    text-align: center;
}

.buttonDiv{
    display: flex;
    justify-content: center;
}

#enableDisableWalls{
    color: black;
    font-family: 'Plaguard';
    font-size: 16px;
    height: 40px;
    width: 70%;
    border: none;
    box-shadow: 4px 4px 3px 3px rgba(0, 0, 0, 0.4);
    margin-bottom: 10px;
    cursor: pointer;
    transition-duration: 0.3s;
}

#enableDisableWalls:hover{
    transition-duration: 0.3s;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.4);
}

#enableDisableWalls:disabled{
    transition-duration: 0.3s;
    box-shadow: None;
    cursor: default;
}
